---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Proyectos from "../components/Proyectos.astro";
import Habilidades from "../components/Habilidades.astro";
import Footer from "../components/Footer.astro";
---

<Layout
  title="Alejandro Melgarejo | Desarrollador Web Full Stack en Paraguay"
  description="Portfolio de Alejandro Melgarejo, desarrollador web full stack en Paraguay"
>
  <Header />
  <main id="top">
    <Hero />
    <Proyectos />
    <Habilidades />
  </main>
  <Footer />
</Layout>
