---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Proyectos from "../components/Proyectos.astro";
---

<Layout
  title="Alejandro Melgarejo | Desarrollador y Programador Web"
  description="Portfolio de Alejandro Melgarejo, desarrollador web full stack en Paraguay"
>
  <Header />
  <main>
    <section
      id="top"
      class="w-full mx-auto lg:w-[740px] min-h-[80vh] flex flex-col justify-center py-20"
    >
      <Hero />
    </section>

    <section id="proyectos" class="w-full mx-auto lg:w-[740px] pt-32 pb-20">
      <Proyectos />
    </section>
  </main></Layout
>
