<header
    class="fixed top-0 z-10 flex items-center justify-center w-full mx-auto mt-2"
>
    <nav
        class="flex px-3 text-sm font-medium rounded-full justify-center items-center bg-black/20 backdrop-blur-md"
    >
        <a
            class="relative block px-2 py-2 transition hover:text-blue-400"
            href="#top">Inicio</a
        >
        <a
            class="relative block px-2 py-2 transition hover:text-blue-400"
            href="#proyectos">Proyectos</a
        >
        <a
            class="relative block px-2 py-2 transition hover:text-blue-400"
            href="#habilidades">Habilidades</a
        >
        <a
            class="relative block px-2 py-2 transition hover:text-blue-400"
            href="#contacto">Contacto</a
        >
    </nav>
</header>
